/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.shadow {
  float: left;
  padding: 10px;
}

.col-1 {
  width: 32%;
}

.col-2 {
  width: 66%;
}

.col-3, .col-5 {
  width: 32%;
}

.col-4 {
  width: 32%
}

[class*="col-"] {
  margin-left: 2%;
}